extends ../shared.pug

block links
    <!-- fileupload-custom css -->
    <link rel="stylesheet" href="/public/assets/css/pages/fileupload.css">

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/carousel") Carousel
    li.breadcrumb-item.active.font-italic.text-white-50
        span Agregar imagen

block content
    <div class="row">
        <!-- [ file-upload ] start -->

        include ../../common/messages.pug
        
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Subir archivos</h5>
                </div>
                <div class="card-body">
                    <form action="/admin/carousel/add" method="post" class="dropzone" enctype="multipart/form-data">
                        div.form-group
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                    </form>
                    <div class="text-center m-t-20 form-group">
                        a(href="/admin/carousel" class="btn btn-primary") Listo
                    </div>
                </div>
            </div>
        </div>
        <!-- [ file-upload ] end -->
    </div>

block scripts
    <!-- file-upload Js -->
    <script src="/public/assets/plugins/fileupload/js/dropzone-amd-module.min.js"></script>

