extends ../shared.pug

block links

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/carousel") Carousel
    li.breadcrumb-item.active.font-italic.text-white-50
        span Agregar imagen

block content
    <div class="row">
        <!-- [ file-upload ] start -->
        
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    include ../../common/messages.pug
                    <h5>Subir archivos</h5>
                </div>
                <div class="card-body">
                    <form action="/admin/carousel/add" method="post" enctype="multipart/form-data">

                        .form-group
                            .row
                                .col-sm-12.col-lg-6
                                    label(for="" class="font-weight-bold") Nombre
                                        span.text-danger &nbsp; *
                                    input(type="text" name="name" class="form-control")
                                .col-sm-12.col-lg-6
                                    label(for="" class="font-weight-bold") Imagen de la empresa
                                        span.text-danger &nbsp; *
                                    .custom-file
                                        input(type="file" name="file" class="custom-file-input" id="customFile")
                                        label(for="customFile" class="custom-file-label" data-browse="Buscar") Elije un archivo
                        .form-group
                            label(for="" class="font-weight-bold") Descripcion
                                span.text-danger &nbsp; *
                            textarea(name="description", cols="30", rows="10" class="form-control")
                        
                        <div class="form-group">
                            button(type="submit" class="btn btn-primary mr-3") Guardar
                            a(href="/admin/carousel" class="btn btn-light") Cancelar
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- [ file-upload ] end -->
    </div>

block scripts
    script(src="/public/js/fileinput.js")

