extends ../shared.pug


block links

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/carousel") Carousel
    li.breadcrumb-item.active.font-italic.text-white-50
        span Detalles de carousel
block content
    section

        .card
            .card-header.d-flex.justify-content-between
                h5.card-title Detalles de la imagen
            .card-body
                if image
                    img(src= image.imgPath, alt="" class="img-fluid d-block")
                    h4= image.name
                    div !{image.description}
                else 
                    p No hay imagen
block scripts
