extends ../shared.pug

block links
    <link rel="stylesheet" href="/public/assets/plugins/summernote/summernote-bs4.css">

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Inicio
    li.breadcrumb-item
        a(href="/admin/alliances") Carousel
    li.breadcrumb-item.active
        span Actualizar imagen de carousel


block content
    section
        
        if image
            .card
                .card-header
                    h4.card-title Editar datos de imagen de carousel
                .card-body
                    form(action="/admin/carousel/update", method="post" enctype="multipart/form-data")
                        .form-group
                            .row
                                .col-sm-12.col-lg-6
                                    img(src= image.imgPath, alt="" class="d-block img-fluid")
                                    br
                                    br
                                    label(for="" class="font-weight-bold") Imagen del carousel
                                        span.text-danger &nbsp; *
                                    .custom-file
                                        input(type="file" name="file" class="custom-file-input" id="customFile")
                                        label(for="customFile" class="custom-file-label") Choose file
                                .col-sm-12.col-lg-6
                                    input(type="hidden" name="id" value= image.id )
                                    label(for="" class="font-weight-bold") Nombre
                                        span.text-danger &nbsp; *
                                    input(type="text" name="name" value= image.name class="form-control")
                                    .form-group
                                        label(for="" class="font-weight-bold") Descripción
                                            span.text-danger &nbsp; *
                                        textarea(name="description", cols="30", rows="10" class="form-control textarea")= image.description
                        .form-group.pt-4
                            button(type="submit" class="btn btn-primary mr-3") Actualizar
                            a(href="/admin/carousel" class="btn btn-default") Cancelar
block scripts
    script(src="/public/js/fileinput.js")
    <script src="/public/assets/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/public/js/summernote.js"></script>