extends ../shared.pug

block links
    <link rel="stylesheet" href="/public/assets/plugins/summernote/summernote-bs4.css">


block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/business") Empresas
    li.breadcrumb-item.active.font-italic.text-white-50
        span Agregar empresa
block content
    section
        .card
            .card-header.bg-white
                include ../../common/messages.pug
                h5.card-title Agregar nueva empresa
            .card-body
                form(action="/admin/business/add", method="post" enctype="multipart/form-data")
                    .form-group
                        .row
                            .col-sm-12.col-lg-6
                                label(for="" class="font-weight-bold") Nombre de la empresa
                                    span.text-danger &nbsp; *
                                input(type="text" name="businessName" class="form-control")
                            .col-sm-12.col-lg-6
                                label(for="" class="font-weight-bold") Propietario de la empresa
                                    span.text-danger &nbsp; *
                                input(type="text" name="own" class="form-control")
                    .form-group
                        .row
                            .col-sm-12.col-lg-6
                                label(for="" class="font-weight-bold") Año de fundación
                                    span.text-danger &nbsp; *
                                input(type="text" name="fundationYear" class="form-control")
                            .col-sm-12.col-lg-6
                                label(for="" class="font-weight-bold") Imagen de la empresa
                                    span.text-danger &nbsp; *
                                .custom-file
                                    input(type="file" name="file" class="custom-file-input" id="customFile")
                                    label(for="customFile" class="custom-file-label" data-browse="Buscar") Elije un archivo
                    .form-group
                        label(for="" class="font-weight-bold") Descripción
                            span.text-danger &nbsp; *
                        textarea(name="description", cols="30", rows="10" class="form-control textarea")
                    .form-group
                        button(type="submit" class="btn btn-primary mr-3") Guardar
                        a(href="/admin/business" class="btn btn-light") Cancelar
block scripts
    script(src="/public/js/fileinput.js")
    <script src="/public/js/tinymce.js"></script>

