extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/business") Empresas
    li.breadcrumb-item.active.font-italic.text-white-50
        span Detalles de empresa
block content
    section

        if data
            .card
                .card-header.d-flex.justify-content-between
                    h5.card-title Detalles de empresa
                    .ml-auto
                        a(href="/admin/business/update/" + data.id class="text-decoration-none mr-3") Editar
                .card-body
                    table.table.table-bordered
                        tr
                            td(class="font-weight-bold") Imagen
                            td
                                img(src= data.imgPath alt="" class="img-fluid")
                        tr
                            td.font-weight-bold Nombre
                            td= data.name
                        tr
                            td.font-weight-bold Propietario
                            td= data.own
                        tr
                            td.font-weight-bold Año de fundacion
                            td= data.yearFundation
                        tr
                            td(class="font-weight-bold") Descripcion
                            td !{data.description}   
        else
            .text-center
                h2.text-primary.display-3.font-weight-bold No data available
                br
                a(href="/business" class="btn btn-secondary py-4 px-5") Regresar
block scripts