extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Home
    li.breadcrumb-item.active
        span Empresas
block content
    section.custom-padding-1
        .container
            .d-flex.justify-content-between.pb-5
                h2.text-primary.font-weight-bold Lista de empresas
                a(href="/admin/business/add" class="btn btn-primary py-3 px-4") Agregar empresa
            table.table
                thead
                    tr
                        th Id
                        th Nombre
                        th Propietario
                        th Acciones
                tbody
                    if data.length > 0
                        each val in data
                            tr
                                td= val.id
                                td= val.name
                                td= val.own
                                td
                                    div.btn-group
                                        a(href="/admin/business/details/" + val.id class="btn btn-light")
                                            i.fa.fa-info.text-primary
                                        a(href="/admin/business/update/" + val.id class="btn btn-light")
                                            i.fa.fa-pencil.text-primary
                                        a(href="/admin/business/delete/" + val.id class="btn btn-light")
                                            i.fa.fa-trash.text-danger
                                        //- button(type="button" class="btn btn-light" data-toggle="modal" data-target="#modal")
                                        //-     i.fa.fa-trash.text-danger
                    else
                        tr
                            td(colspan="4")
                                h4.text-center.text-primary.font-weight-bold No hay datos