extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Home
    li.breadcrumb-item
        a(href="/admin/business") Empresas
    li.breadcrumb-item.active
        span Editar empresa
block content
    section
        .container
            .card
                .card-header.bg-white
                    h2.text-primary.font-weight-bold Editar empresa
                .card-body
                    form(action="/admin/business/update", method="post" enctype="multipart/form-data")
                        input(type="hidden" name="id" value= data.id)

                        .row
                            .col-sm-12.col-md-6.col-lg-4
                                .form-group
                                    img(src= data.imgPath alt="" class="d-block img-fluid")
                                    br
                                    label(for="" class="font-weight-bold") Imagen de la empresa
                                        span.text-danger &nbsp; *
                                        .custom-file
                                            input(type="file" name="file" class="custom-file-input" id="customFile")
                                            label(for="customFile" class="custom-file-label") Choose file
                            .col-sm-12.col-md-6.col-lg-8
                                .form-group
                                    label(for="" class="font-weight-bold") Nombre de la empresa
                                        span.text-danger &nbsp; *
                                    input(type="text" name="businessName" value= data.name class="form-control border-0 bg-light py-4")
                                .form-group
                                    .row
                                        .col-sm-12.col-lg-6
                                            label(for="" class="font-weight-bold") Propietario de la empresa
                                                span.text-danger &nbsp; *
                                            input(type="text" name="own" value= data.own class="form-control border-0 bg-light py-4")
                                        .col-sm-12.col-lg-6
                                            label(for="" class="font-weight-bold") Año de fundación
                                                span.text-danger &nbsp; *
                                            input(type="text" name="fundationYear" value= data.yearFundation class="form-control border-0 bg-light py-4")
                                .form-group
                                    label(for="" class="font-weight-bold") Descripción
                                        span.text-danger &nbsp; *
                                    textarea(name="description", cols="30", rows="10" class="form-control border-0 bg-light")= data.description
                        .form-group.text-center.pt-5
                            button(type="submit" class="btn btn-primary py-3 px-5 mr-3") Actualizar
                            a(href="/admin/business" class="btn btn-secondary py-3 px-5") Cancelar
block scripts
    script(src="/public/js/fileinput.js")
