extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Home
    li.breadcrumb-item
        a(href="/admin/alliances") Alianzas
    li.breadcrumb-item.active
        span Eliminar de alianza
block content
    section.custom-padding-1.bg-white
        .container
            if data
                .row
                    .col-sm-12.col-lg-5
                        img(src=""+ data.imgPath +"", alt="" class="img-fluid")
                        .py-5
                            span.d-block.text-muted Nombre
                            h2.text-primary.display-4.font-weight-bold= data.name
                            span.d-block.text-muted Descripcion
                            p.text-primary= data.description
                    .col-sm-12.col-lg-7
                        h2.text-danger.font-weight-bold.display-4 Deseas eliminar este registro?
                        .py-4
                        a(href="/admin/alliances/delete/confirm/" + data.id class="btn btn-light py-3 px-4 mr-3")
                            i.fa.fa-trash.text-danger
                            | &nbsp;
                            span.text-danger Confirmar
                        a(href="/admin/alliances" class="btn btn-light py-3 px-4")
                            i.fa.fa-arrow-left.text-primary
                            | &nbsp;
                            span.text-primary Cancelar
            else
                .text-center
                    h2.text-primary.display-3.font-weight-bold No data available
                    br
                    a(href="/admin/home" class="btn btn-secondary py-4 px-5") Regresar
block scripts