extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Inicio
    li.breadcrumb-item
        a(href="/admin/alliances") Alianzas
    li.breadcrumb-item.active
        span Detalles de alianza
block content
    section

        if data

             .card
                .card-header.d-flex.justify-content-between
                    h4.card-title Detalles de la alianza
                    .ml-auto
                        a(href="/admin/alliances/update/" + data.id class="text-decoration-none mr-3") Editar
                        a(href="/admin/alliances/delete/" + data.id class="text-decoration-none") Eliminar
                .card-body
                    table.table.table-bordered
                        tr
                            td(class="font-weight-bold") Imagen
                            td
                                img(src= data.imgPath alt="" class="img-fluid")
                        tr
                            td.font-weight-bold Nombre
                            td= data.name
                        tr
                            td(class="font-weight-bold") Descripcion
                            td !{data.description}
        else
            .text-center
                h2.text-primary.display-3.font-weight-bold No data available
                br
                a(href="/admin/home" class="btn btn-secondary py-4 px-5") Regresar
block scripts