extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Inicio
    li.breadcrumb-item.active
        span Alianzas
block content
    section

        include ../../common/buttonChangeView.pug

        include ../../common/messages.pug
        
        .view-list
            .card
                .card-header
                    h2.card-title Lista de alianzas
                .card-body.table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                th Nº
                                th Institucion
                                th Acciones
                        tbody
                            if data.length > 0
                                each val, i in data
                                    tr
                                        td= i + 1
                                        td= val.name
                                        td
                                            div.btn-group
                                                a(href="/admin/alliances/details/" + val.id class="btn btn-light" title="info")
                                                    i.fa.fa-info.text-dark
                                                a(href="/admin/alliances/update/" + val.id class="btn btn-light" title="editar")
                                                    i.fa.fa-edit.text-dark
                                                a(href="/admin/alliances/delete/" + val.id class="btn btn-light" title="borrar")
                                                    i.fa.fa-trash.text-danger
        div(class="d-none view-grid")
            .card-columns
                each val in data
                    .card
                        img(src= val.imgPath, alt="" class="img-fluid")
                        .card-body
                            h4.card-title= val.name
                            br
                            div.btn-group.btn-group-sm
                                a(href="/admin/alliances/details/" + val.id class="btn btn-light" title="info")
                                    i.fa.fa-info.text-dark
                                a(href="/admin/alliances/update/" + val.id class="btn btn-light" title="editar")
                                    i.fa.fa-edit.text-dark
                                a(href="/admin/alliances/delete/" + val.id class="btn btn-light" title="borrar")
                                    i.fa.fa-trash.text-danger

block scripts
    script(src="/public/js/changeview.js")
                