extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Inicio
    li.breadcrumb-item
        a(href="/admin/services") Servicios
    li.breadcrumb-item.active
        span Borrar servicio
block content
    section

        .row
            .col-sm-12.col-lg-5
                .card
                    .card-body
                        div(class="p-5 "+ data.bgColor +" d-flex align-items-center justify-content-center" style="border-radius: 30px; height: 25px; width: 25px")
                            i(class="fa fa-" + data.icon + " fa-2x ")
                        div.pt-4
                            h4(class="text-center.text-md-left " + data.textColor)= data.name
                            div.text-muted.text-center.text-md-left !{data.description}
            .col-sm-12.col-lg-7
                h2.text-danger.font-weight-bold.display-4 Deseas eliminar este registro?
                    .py-4
                    a(href="/admin/services/delete/confirm/" + data.id class="btn btn-outline-danger mr-3")
                        i.fa.fa-trash
                        | &nbsp;
                        span Confirmar
                    a(href="/admin/services" class="btn bg-white")
                        i.fa.fa-arrow-left.text-primary
                        | &nbsp;
                        span.text-primary Cancelar