extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/services") Servicios
    li.breadcrumb-item.active.font-italic.text-white-50
        span Detalles de servicio
block content
    section

        .card
            .card-header.d-flex.justify-content-between
                h4.card-title Detalles de servicio
                .ml-auto
                    a(href="/admin/services/update/" + data.id class="text-decoration-none mr-3") Editar
            .card-body
                table.table.table-bordered
                    tr
                        td.font-weight-bold Icono
                        td
                            div(class="p-5 mr-lg-3 "+ data.bgColor +" d-flex align-items-center justify-content-center" style="border-radius: 30px; height: 25px; width: 25px")
                                i(class="" + data.iconName + " " + data.iconColor + " display-3")
                    tr
                        td.font-weight-bold Nombre
                        td
                            h4(class="text-center.text-md-left " + data.textColor)= data.name
                    tr
                        td.font-weight-bold Descripcion
                        td !{data.description}