extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Inicio
    li.breadcrumb-item.active
        span Servicios
block content
    section

        include ../../common/buttonChangeView.pug

        include ../../common/messages.pug

        .view-list
            .card
                .card-header
                    h2.card-title Lista de servicios
                .card-body.table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                th Nº
                                th Nombre
                                th Acciones
                        tbody
                            if data.length > 0
                                each val, i in data
                                    tr
                                        td= i + 1
                                        td= val.name
                                        td
                                            div.btn-group
                                                a(href="/admin/services/details/" + val.id class="btn btn-light" title="info")
                                                    i.fa.fa-info.text-dark
                                                a(href="/admin/services/update/" + val.id class="btn btn-light" title="editar")
                                                    i.fa.fa-edit.text-dark
                                                a(href="/admin/services/delete/" + val.id class="btn btn-light" title="borrar")
                                                    i.fa.fa-trash.text-danger
        div(class="d-none view-grid")
            .row
                each val in data

                    .col-sm-12.col-md-4
                        .info-box
                            span(class="info-box-icon " + val.bgColor)
                                i(class="fas fa-" + val.icon)
                            .info-box-content
                                span.font-weight-bold= val.name
                                br
                                span
                                    div.btn-group.btn-group-sm
                                    a(href="/admin/services/details/" + val.id class="btn btn-light" title="info")
                                        i.fa.fa-info.text-dark
                                    a(href="/admin/services/update/" + val.id class="btn btn-light" title="editar")
                                        i.fa.fa-edit.text-dark
                                    a(href="/admin/services/delete/" + val.id class="btn btn-light" title="borrar")
                                        i.fa.fa-trash.text-danger
block scripts
    script(src="/public/js/changeview.js")