extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Home
    li.breadcrumb-item
        a(href="/admin/services") Servicios
    li.breadcrumb-item.active
        span Agregar servicio
block content
    section
        .container
            .card
                .card-header.bg-white
                    h2.text-primary.font-weight-bold Agregar servicio
                .card-body
                    form(action="/admin/services/update", method="post" class="py-5")
                        .form-group
                            input(type="hidden" name="id" value= data.id)
                            .row
                                .col-sm-12.col-lg-4
                                    label(for="" class="font-weight-bold") Nombre
                                        | &nbsp;
                                        span.text-danger *
                                    input(type="text" name="serviceName" value= data.name class="form-control bg-light border-0 py-4")
                                .col-sm-12.col-lg-4
                                    label(for="" class="font-weight-bold") Icono
                                        | &nbsp;
                                        span.text-danger *
                                    input(type="text" name="iconService" value= data.icon class="form-control bg-light border-0 py-4")
                                .col-sm-12.col-lg-4
                                    label(for="" class="font-weight-bold") Color de icono
                                        | &nbsp;
                                        span.text-danger *
                                    select(name="iconColor" class="form-control bg-light border-0")
                                        option(selected disabled) Selecciona una opcion
                                        each val, i in colors
                                            - var selected = i == data.textColor
                                            option(value= i selected= selected)= val
                        .form-group
                            label(for="" class="font-weight-bold") Descripcion
                                | &nbsp;
                                span.text-danger *
                            textarea(name="description", cols="30", rows="5" class="form-control bg-light border-0")= data.description
                        .form-group
                            button(type="submit" class="btn btn-primary py-3 px-5 mr-3") Guardar
                            a(href="/admin/services" class="btn btn-secondary py-3 px-5") Cancelar