
if error_message != undefined
    span(class="alert alert-danger alert-dismissible show fade d-inline-block w-100" style="background-color: rgba(255, 118, 117, .4); color: rgba(214, 48, 49,1.0); border: none")
        button(type="button" class="close" data-dismiss="alert")
            span &times;
        strong
            i.icon.fas.fa-ban
            | Ooops!
        span.d-inline-block.mx-3= error_message

if success_message != undefined
    span(class="alert alert-success alert-dismisible show fade d-inline-block w-100" style="background-color: rgba(46, 204, 113, .4) ; color: rgba(39, 174, 96, 1); border: none")
        strong
            i.icon.fas.fa-check
            | Exito!
        span.d-inline-block.mx-3= success_message
        button(type="button" class="close" data-dismiss="alert")
            span &times;
