extends layout.pug

block links

block content
    //- section 1 - mostar los detalles de las empresas
    section.custom-padding-1.bg-white
        .container
            if data
                img(src=""+ data.imgPath +"", alt="" class="img-fluid")
                .py-5
                    span.d-block.text-muted Nombre
                    h2.text-primary.display-4.font-weight-bold= data.name
                    span.d-block.text-muted Propietario
                    h5= data.own
                    span.d-block.text-muted Fecha de fundación
                    h5= data.yearFundation
                    span.d-block.text-muted Descripcion
                    div !{data.description}
            else
                .text-center
                    h2.text-primary.display-3.font-weight-bold No data available
                    br
                    a(href="/business" class="btn btn-secondary py-4 px-5") Regresar
block scripts