extends ./layout.pug

block content
    section.custom-padding-1
        .container
            h1.text-center.font-weight-bold.text-primary Centro emprendedor
            br
            p.text-muted.paragraph-1.w-75.m-auto.text-center Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio animi repudiandae doloremque? Autem veritatis ipsum unde explicabo expedita sint eos?
            span(class="d-block bg-secondary my-5 mx-auto" style="height: 6px; width: 80px")
            .row.py-5
                .col-sm-12.col-md-12.col-lg-4
                    div(class="p-5 mr-3 bg-orange d-flex align-items-center justify-content-center m-auto" style="border-radius: 30px; height: 25px; width: 25px")
                        i.fas.fa-user-tie.fa-2x.text-orange
                    div.py-4
                        p.text-muted.text-center.paragraph-1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla fugit velit repudiandae?
                .col-sm-12.col-md-12.col-lg-4
                    div(class="p-5 mr-3 bg-green d-flex align-items-center justify-content-center m-auto" style="border-radius: 30px; height: 25px; width: 25px")
                        i.fas.fa-chart-line.fa-2x.text-success
                    div.py-4
                        p.text-muted.text-center.paragraph-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, iusto!
                .col-sm-12.col-md-12.col-lg-4
                    div(class="p-5 mr-3 bg-blue d-flex align-items-center justify-content-center m-auto" style="border-radius: 30px; height: 25px; width: 25px")
                        i.fas.fa-award.fa-2x.text-primary
                    div.py-4
                        p.text-muted.text-center.paragraph-1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusamus ad quia quisquam.