extends ./layout.pug

block content
    section.custom-padding-1
        .container
            h1.text-center.font-weight-bold.text-primary Incubadora de empresas
            br
            p.text-muted.paragraph-1.w-75.m-auto.text-center Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et accusamus aut numquam consectetur quos. Qui ratione officia nemo, cum necessitatibus molestias laborum?
            span(class="d-block bg-secondary my-5 mx-auto" style="height: 6px; width: 80px")
