extends ../shared.pug

block links
    <link rel="stylesheet" href="/public/assets/plugins/summernote/summernote-bs4.css">

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/news") Noticias
    li.breadcrumb-item.active.font-italic.text-white-50
        span Agregar noticia
block content
    section

        .card
            .card-header
                include ../../common/messages.pug
                h5.card-title Agregar noticia
            .card-body
                form(action="/admin/news/add", method="post" class="" enctype="multipart/form-data")
                    .form-group
                        .row
                            .col-sm-12.col-lg-4
                                label(for="" class="font-weight-bold") Titulo
                                    | &nbsp;
                                    span.text-danger *
                                input(type="text" name="title" class="form-control")
                            .col-sm-12.col-lg-4
                                label(for="" class="font-weight-bold") Categoria
                                    | &nbsp;
                                    span.text-danger *
                                input(type="text" name="category" class="form-control")
                            .col-sm-12.col-lg-4
                                label(for="" class="font-weight-bold") Fotografías (800 x 800)
                                    span.text-danger &nbsp; *
                                .custom-file
                                    input(type="file" name="file" class="custom-file-input" id="customFile" multiple)
                                    label(for="customFile" class="custom-file-label") Choose file
                    .form-group
                        label(for="" class="font-weight-bold") Descripcion
                            | &nbsp;
                            span.text-danger *
                        textarea(name="description", cols="30", rows="5" class="form-control textarea")
                    .form-group
                        button(type="submit" class="btn btn-primary mr-3") Guardar
                        a(href="/admin/news" class="btn btn-light") Cancelar
block scripts
    script(src="/public/js/fileinput.js")
    <script src="/public/js/tinymce.js"></script>
