extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home") Home
    li.breadcrumb-item
        a(href="/admin/news") Noticias
    li.breadcrumb-item.active
        span Borrar noticia
block content
    section
        .container
            .row
                .col-sm-12.col-lg-7
                    .card.mb-4.border-0
                        div(id="carousel-news" class="carousel slide" data-ride="carousel")
                            .carousel-inner
                                - let j = 0;
                                each img in news.images
                                    - let classActive = (j == 0) ? "active" : "";
                                    div(class="carousel-item " + classActive)
                                        img(src= img alt="" class="d-block w-100 rounded-top")
                                    - j = 1;
                            a(href="#carousel-news" class="carousel-control-prev" role="button" data-slide="prev")
                                i.fas.fa-chevron-left
                            a(href="#carousel-news" class="carousel-control-next" role="button" data-slide="next")
                                i.fas.fa-chevron-right
                        .card-body
                            h4.card-title.text-primary.font-weight-bold.display-4= news.title
                            p= news.description
                .col-sm-12.col-lg-5
                    h2.text-danger.font-weight-bold.display-4 Deseas eliminar este registro?
                        .py-4
                        a(href="/admin/news/delete/confirm/" + news.id class="btn bg-red py-3 px-4 mr-3")
                            i.fa.fa-trash.text-danger
                            | &nbsp;
                            span.text-danger Confirmar
                        a(href="/admin/news" class="btn bg-blue py-3 px-4")
                            i.fa.fa-arrow-left.text-primary
                            | &nbsp;
                            span.text-primary Cancelar