extends ../shared.pug

block links
    <link rel="stylesheet" href="/public/assets/plugins/summernote/summernote-bs4.css">

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/news") Noticias
    li.breadcrumb-item.active.font-italic.text-white-50
        span Actualizar noticia
block content
    section
        
        .card
            .card-header.bg-white
                h5.card-title Actualizar noticia 
            .card-body
                form(action="/admin/news/update", method="post" class="" enctype="multipart/form-data")
                    .form-group
                        .row
                            .col-sm-12.col-lg-6
                                input(type="hidden" name="id" value= news.id)
                                label(for="" class="font-weight-bold") Titulo
                                    | &nbsp;
                                    span.text-danger *
                                input(type="text" name="title" value= news.title class="form-control")
                            .col-sm-12.col-lg-6
                                label(for="" class="font-weight-bold") Categoria
                                    | &nbsp;
                                    span.text-danger *
                                input(type="text" name="category" value= news.category class="form-control")
                    .form-group
                        label(for="" class="font-weight-bold") Descripcion
                            | &nbsp;
                            span.text-danger *
                        textarea(name="description", cols="30", rows="5" class="form-control textarea")= news.description
                    .form-group
                        button(type="submit" class="btn btn-primary mr-3") Actualizar
                        a(href="/admin/news" class="btn btn-light") Cancelar
block scripts
    script(src="/public/js/fileinput.js")
    <script src="/public/js/tinymce.js"></script>
