extends shared.pug

block breadcrumbItem
    li.breadcrumb-item
        span
            i.feather.icon-home

block content

    .row
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card social-widget-card">
                <div class="card-body-big bg-purple">
                    h3.text-white.m-0= totalServices
                        |&nbsp;+
                    <span class="m-t-10">Servicios</span>
                    <i class="fab fa-envira"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card social-widget-card">
                <div class="card-body-big bg-twitter">
                    h3.text-white.m-0= totalAlliances
                        |&nbsp;+
                    <span class="m-t-10">Alianzas</span>
                    <i class="fas fa-award"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card social-widget-card">
                <div class="card-body-big bg-c-purple">
                    h3.text-white.m-0= totalBusiness
                        |&nbsp;+
                    <span class="m-t-10">Empresas</span>
                    <i class="far fa-building"></i>
                </div>
            </div>
        </div>
