<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="cdmype, cdmype univo, univo,">
	<meta name="author" content="CDMYPE UNIVO" />

	title Login - CDMYPE UNIVO

	<!-- Favicon icon -->
	<link rel="icon" href="/public/assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="/public/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="/public/assets/plugins/animation/css/animate.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="/public/assets/css/style.css">
	
</head>

<!-- [ signin-img-tabs ] start -->
<div class="blur-bg-images"></div>
<div class="auth-wrapper">
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="card-body">
						<h2 class="mb-4">Bienvenido a <span class="text-c-blue">CDMYPE UNIVO</span></h2>
						<p>CDMYPE es un programa de acompañamiento a emprendedores, micro y pequeñas empresas</p>
						<form action="/admin" method="post">
							<ol class="position-relative carousel-indicators justify-content-start">
								<li class=""></li>
								<li class="active"></li>
							</ol>
							include ../common/messages.pug
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-mail"></i></span>
								</div>
								<input type="text" name="username" class="form-control" autocomplete="off" placeholder="Nombre de usuario">
							</div>
							<div class="input-group mb-4">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-lock"></i></span>
								</div>
								<input type="password" name="password" class="form-control" placeholder="Contraseña">
							</div>
							<div class="form-group text-left">
								<div class="checkbox checkbox-primary d-inline">
									<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
									<label for="checkbox-fill-a1" class="cr"> Guardar credenciales</label>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mb-4">Entrar</button>
						</form>
					</div>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<img src="/public/img/cdmype.jpg" alt="" width="300" class="img-fluid bd-placeholder-img bd-placeholder-img-lg d-block m-auto">
					<img src="../assets/images/LogoCDMYPE_logo-1.png" alt="" class="img-fluid img-logo-overlay">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ signin-img-tabs ] end -->

<!-- Required Js -->
<script src="/public/assets/js/vendor-all.min.js"></script>
<script src="/public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
