<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="keywords" content="cdmype, cdmype univo, univo,">
  <meta name="author" content="CDMYPE UNIVO" />

  <!-- Favicon icon -->
  <link rel="icon" href="/public/assets/images/favicon.ico" type="image/x-icon">
  <!-- fontawesome icon -->
  <link rel="stylesheet" href="/public/assets/fonts/fontawesome/css/fontawesome-all.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/public/assets/plugins/animation/css/animate.min.css">
  <!-- prism css -->
  <link rel="stylesheet" href="/public/assets/plugins/prism/css/prism.min.css">
  <!-- vendor css -->
  <link rel="stylesheet" href="/public/assets/css/style.css">

  title= title
  block links

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/admin/home" class="b-brand">
                    <div class="b-bg"> A
                    </div>
                    <span class="b-title">Administracion</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Principal</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin/home" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Gestión</label>
                    </li>

                    // gestion para carousel
                    <li data-username="Sample Page" class="nav-item"><a href="/admin/carousel" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span class="pcoded-mtext">Carousel</span></a></li>

                    //- gestion para servicios
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Servicios</span></a>
                        <ul class="pcoded-submenu" id="services-menu">
                            <li class=""><a href="/admin/services" class="">Lista de servicios</a></li>
                            <li class=""><a href="/admin/services/add" class="">Agregar servicio</a></li>
                        </ul>
                    </li>

                    //- gestion para empresas
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Empresas</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/admin/business" class="">Lista de empresas</a></li>
                            <li class=""><a href="/admin/business/add" class="">agregar empresa</a></li>
                        </ul>
                    </li>

                    //- gestion para alianzas
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Alianzas</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/admin/alliances" class="">Lista de alianzas</a></li>
                            <li class=""><a href="/admin/alliances/add" class="">Agregar alianza</a></li>
                        </ul>
                    </li>

                    //- gestion para empleados
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user-plus"></i></span><span class="pcoded-mtext">Empleados</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/admin/employees" class="">Lista de empleados</a></li>
                            <li class=""><a href="/admin/employees/add" class="">Agregar empleado</a></li>
                        </ul>
                    </li>

                    //- gestion para noticias
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Noticias</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/admin/news" class="">Lista de noticias</a></li>
                            <li class=""><a href="/admin/news/add" class="">Agregar noticia</a></li>
                        </ul>
                    </li>

                    //- gestion para noticias
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:void" class="nav-link"><span class="pcoded-micon"><i class="feather icon-copy"></i></span><span class="pcoded-mtext">Iconos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/admin/icons/feather" class="">Feather</a></li>
                            <li class=""><a href="/admin/icons/fontawesome" class="">Font Awesome</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption"><label>Cerrar sesion</label></li>
                    <li data-username="Documentation" class="nav-item"><a href="/admin/logout" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Salir</span></a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
            <a href="/admin/home" class="b-brand">
                <div class="b-bg"> A
                </div>
                <span class="b-title">Admin</span>
            </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#!">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <a href="#!" class="mob-toggler"></a>
            <ul class="navbar-nav mr-auto">
                <li>
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Navegacion</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        block breadcrumbItem
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <span>Admin</span>
                                <a href="javascript:void" class="dud-logout" title="Logout">
                                    <i class="feather icon-user"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="javascript:void" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
                                <li><a href="/admin/logout" class="dropdown-item"><i class="feather icon-log-out"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ breadcrumb ] start -->
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Navegacion</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                              block breadcrumbItem
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ breadcrumb ] end -->
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ static-layout ] start -->
                                <div class="col-sm-12">

                                    block content

                                   
                                </div>
                                <!-- [ static-layout ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="/public/assets/js/vendor-all.min.js"></script>
    <script src="/public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/pcoded.min.js"></script>

    <!-- prism Js -->
    <script src="/public/assets/plugins/prism/js/prism.min.js"></script>
    <script src="/public/assets/js/analytics.js"></script>

    // editor plugin
    <script src="/public/assets/plugins/tinymce/tinymce.min.js"></script>

    block scripts

</body>

</html>
