<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  title #{title} | Admin CDMYPE UNIVO
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- DataTables -->
  <link rel="stylesheet" href="/public/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

  //- custom links
  block links

  <!-- theme styles -->
  <link rel="stylesheet" href="/public/assets/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/admin/home" class="nav-link">Inicio</a>
        </li>
      </ul>

      <!-- SEARCH FORM -->
      <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
          <div class="input-group-append">

            <button class="btn btn-navbar" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Right navbar links -->
      //- <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        //- <li class="nav-item dropdown">
        //-   <a class="nav-link" data-toggle="dropdown" href="#">
        //-     <i class="far fa-comments"></i>
        //-     <span class="badge badge-danger navbar-badge">3</span>
        //-   </a>
        //-   <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        //-     <a href="#" class="dropdown-item">
        //-       <!-- Message Start -->
        //-       <div class="media">
        //-         <img src="/public/assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
        //-         <div class="media-body">
        //-           <h3 class="dropdown-item-title">
        //-             Brad Diesel
        //-             <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
        //-           </h3>
        //-           <p class="text-sm">Call me whenever you can...</p>
        //-           <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        //-         </div>
        //-       </div>
        //-       <!-- Message End -->
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item">
        //-       <!-- Message Start -->
        //-       <div class="media">
        //-         <img src="/public/assets/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
        //-         <div class="media-body">
        //-           <h3 class="dropdown-item-title">
        //-             John Pierce
        //-             <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
        //-           </h3>
        //-           <p class="text-sm">I got your message bro</p>
        //-           <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        //-         </div>
        //-       </div>
        //-       <!-- Message End -->
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item">
        //-       <!-- Message Start -->
        //-       <div class="media">
        //-         <img src="/public/assets/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
        //-         <div class="media-body">
        //-           <h3 class="dropdown-item-title">
        //-             Nora Silvester
        //-             <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
        //-           </h3>
        //-           <p class="text-sm">The subject goes here</p>
        //-           <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        //-         </div>
        //-       </div>
        //-       <!-- Message End -->
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        //-   </div>
        //- </li>
        <!-- Notifications Dropdown Menu -->
        //- <li class="nav-item dropdown">
        //-   <a class="nav-link" data-toggle="dropdown" href="#">
        //-     <i class="far fa-bell"></i>
        //-     <span class="badge badge-warning navbar-badge">15</span>
        //-   </a>
        //-   <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        //-     <span class="dropdown-item dropdown-header">15 Notifications</span>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item">
        //-       <i class="fas fa-envelope mr-2"></i> 4 new messages
        //-       <span class="float-right text-muted text-sm">3 mins</span>
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item">
        //-       <i class="fas fa-users mr-2"></i> 8 friend requests
        //-       <span class="float-right text-muted text-sm">12 hours</span>
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item">
        //-       <i class="fas fa-file mr-2"></i> 3 new reports
        //-       <span class="float-right text-muted text-sm">2 days</span>
        //-     </a>
        //-     <div class="dropdown-divider"></div>
        //-     <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        //-   </div>
        //- </li>
        //- <li class="nav-item">
        //-   <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        //-     <i class="fas fa-th-large"></i>
        //-   </a>
        //- </li>
      //- </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
        <a href="/admin/home" class="brand-link d-flex align-items-center">
        img(src="/public/img/LogoCDMYPE_blanco.png", alt="" width="150" class="img-fluid")
        //- <span class="brand-text font-weight-bold">CDMYPE UNIVO</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
          <div class="image">
            div(style="height: 33px; width: 33px;").bg-teal.rounded-circle.d-flex.align-items-center.justify-content-center Ad
            //- <img src="/public/assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <span class="d-block text-white-50">Administrador</span>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
            
            <li class="nav-header">PRINCIPAL</li>

            <li class="nav-item">
              <a href="/admin/home" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
              </a>
            </li>
        
            <li class="nav-header">GESTIÓN</li>

            <li class="nav-item">
              <a href="/admin/carousel" class="nav-link">
                <i class="nav-icon far fa-images"></i>
                <p>Carousel</p>
              </a>
            </li>

            <!-- Empleados -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-friends"></i>
                <p> Empleados
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/employees" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de empleados</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/employees/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar nuevo empleado</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Servicios -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p> Servicios
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/services" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de servicios</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/services/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar nuevo servicio</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Empresas -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-industry"></i>
                <p> Empresas
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/business" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de empresas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/business/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar nueva empresa</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- alianzas -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p> Alianzas
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/alliances" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de alianzas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/alliances/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar nueva alianza</p>
                  </a>
                </li>
              </ul>
            </li> 

            <!-- noticias -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p> Noticias
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/news" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de noticias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/news/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar nueva noticia</p>
                  </a>
                </li>
              </ul>
            </li>
          
            <!-- Logout -->
            <li class="nav-header">CERRAR SESION</li>
            <li class="nav-item">
              <a href="/admin/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>Salir</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                block breadcrumbItem
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        block content

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; 2020 All rights | CDMYPE UNIVO
      reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="/public/assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/public/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/public/assets/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/public/assets/dist/js/demo.js"></script>
  <!-- DataTables -->
  <script src="/public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/public/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/public/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/public/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- custom scripts -->
  <script src="/public/js/datatable.js"></script>
  block scripts
</body>

</html>